@{
    ViewData["Title"] = "Accessibility Statement";
}

<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Accessibility statement for the Green Gas Support Scheme portal
        </h1>
        <h2 class="govuk-heading-m">Our commitment to accessibility and inclusion</h2>
        <p>This Green Gas Support Scheme (GGSS) portal is run by Ofgem. We want everyone who visits it to feel welcome and find the experience rewarding. For example, this means you should be able to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>change colours, contrast levels and fonts</li>
            <li>zoom in up to 300% without the text spilling off the screen</li>
            <li>navigate most of the website using just a keyboard</li>
            <li>navigate most of the website using speech recognition software</li>
            <li>listen to most of the website using a screen reader (including the most recent versions of JAWS and NVDA)</li>
        </ul>

        <h2 class="govuk-heading-m">Customise your experience</h2>
        <p>We're committed to making our services easy to use. Our GGSS portal has been created to be usable straight away.</p>
        <p>But you may get a better experience by customising it to suit your individual needs. For example, you can:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>make the text larger</li>
            <li>get the site text read aloud to you</li>
        </ul>
        <h3 class="govuk-heading-s">Guides</h3>
        <p>The BBC's <a href="http://www.bbc.co.uk/accessibility/" target="_blank">My Web, My Way (opens in a new tab)</a> has videos and guides about how to customise your experience.</p>
        <p><a href="https://mcmw.abilitynet.org.uk/" target="_blank">AbilityNet (opens in a new tab)</a> has advice on making your device easier to use.</p>
        <p>If you have difficulty reading English, you might want to have the website text read out for you. <a href="http://www.browsealoud.com/" target="_blank">BrowseAloud (opens in a new tab)</a> is one tool that does this.</p>

        <h2 class="govuk-heading-m">How we make this website accessible</h2>
        <p>We work hard to ensure that the GGSS portal is accessible.</p>
        <p>Where possible, we try to research components and patterns with a representative range of users, including those with disabilities.</p>
        <p>We also test components to ensure they work with a broad range of browsers, devices and assistive technologies - including screen magnifiers, screen readers and speech recognition tools.</p>

        <h2 class="govuk-heading-m">Compliance and enforcement</h2>
        <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing accessibility regulations. If you’re not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/" target="_blank">Equality Advisory and Support Service (EASS) (opens in a new tab)</a>.</p>

        <h2 class="govuk-heading-m">Accessibility audit</h2>
        <p>Ofgem is committed to making the GGSS portal accessible, in accordance with the <a href="https://www.legislation.gov.uk/uksi/2018/952/made" target="_blank">Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (opens in a new tab)</a>.</p>
        <p>To help us do this, we commissioned the <a href="https://www.digitalaccessibilitycentre.org/" target="_blank">Digital Accessibility Centre (DAC) (opens in a new tab)</a> to carry out a <a href="https://www.w3.org/TR/WCAG21/" target="_blank">Web Content Accessibility Guidelines version 2.1 AA standard (opens in a new tab)</a> technical compliance audit. DAC tested a sample of pages to cover the different content types, components and templates in the GGSS portal. This included extensive testing by users with a wide range of disabilities. DAC reported the findings on 12 November 2021.</p>

        <h2 class="govuk-heading-m">Compliance status</h2>
        <p>The GGSS portal website is partially compliant with the Web Content Accessibility Guidelines (WCAG) version 2.1 AA standard. This is because of several non-compliance issues and limitations.</p>

        <h2 class="govuk-heading-m">Issues and limitations</h2>
        <p>Parts of the GGSS portal are not fully accessible.</p>
        <p>During testing by DAC, various accessibility issues were discovered. These issues mostly affected users of assistive technologies.</p>
        <p>Issues we’re remediating include:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>screenreader and voice activation users having difficulty with identifying interactive elements in the service which had been not been labelled correctly</li>
            <li>page titles in the service and the structure of pages where headings are missing or structured incorrectly</li>
            <li>the use of fieldsets in the service, affecting how screenreader users are able to identify elements</li>
            <li>errors being difficult to identify with inconsistent patterns </li>
            <li>low-vision users and users using only a keyboard having issues identifying focus indication in parts of the portal</li>
            <li>low-vision users having difficulty in identifying content when the size of the viewport was adjusted using both reflow and screen magnification settings</li>
        </ul>
        <p>We're working on these and expect to remediate them by 31 December 2021.</p>
        <p>We'll update the statement when issues are fixed or when we expect them to be fixed.</p>

        <h2 class="govuk-heading-m">Support</h2>
        <p>If you cannot access parts of the GGSS portal or need information on this website in a different format - like an accessible PDF, large print, easy read, audio recording or braille - contact us by:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>email at <a href="mailto:consumeraffairs@ofgem.gov.uk">consumeraffairs@ofgem.gov.uk</a></li>
            <li>phone at <a href="tel:02079017295">020 7901 7295</a></li>
        </ul>
        <p>We’ll consider your request and get back to you within two working days.</p>

        <h2 class="govuk-heading-m">Feedback</h2>
        <p>We’re always looking to improve the accessibility of the GGSS portal. If you find any problems that are not listed on this page, or if you think we’re not meeting the requirements of the accessibility regulations, please contact us by:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>email at <a href="mailto:consumeraffairs@ofgem.gov.uk">consumeraffairs@ofgem.gov.uk</a></li>
            <li>phone at <a href="tel:02079017295">020 7901 7295</a></li>
        </ul>
        <p>To help us understand and solve the problem, please tell us:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the web address (URL) of the content (if it’s just a part of the GGSS portal)</li>
            <li>the format you need - for example, plain text, accessible PDF, braille, BSL, large print or audio CD</li>
        </ul>
        <p>You can also view the Ofgem’s <a href="https://www.ofgem.gov.uk/website-accessibility" target="_blank">website accessibility policy (opens in a new tab)</a> to report any problems or request documents in an alternative format.</p>

        <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
        <p>This statement was prepared on 30 November 2021.</p>
        <p>It was last reviewed on 30 November 2021.</p>
    </div>

    <div class="govuk-grid-column-one-third">
        @{
            await Html.RenderPartialAsync("_StepByStepNavHeading");
            await Html.RenderPartialAsync("_StepByStepNav");
        }
    </div>
</div>