
<div class="govuk-inset-text">
    <a href="@ExternalPortal.Constants.UrlKeys.DocumentDownload@ViewData["Id"]?.ToString()">
        <strong>@ViewData["Name"]?.ToString()</strong>
    </a>, (@ViewData["Size"]?.ToString())
</div>