@model Microsoft.Extensions.Primitives.StringValues

<p>
    <a href="@ExternalPortal.Constants.UrlKeys.TaskList?ApplicationId=@Model.ToString()" class="govuk-link">
        Return to your application
    </a>
</p>