@{
    Layout = "Layouts/_HeaderAndFooter";
}

<partial name="_PhaseBannerPartial" />

<div class="govuk-width-container">
    <main role="main" class="govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-body" id="main-content">
        @RenderBody()
    </main>
</div>