@{
    ViewData["Title"] = "Add Responsible Person";
}

<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Give us your details</h1>

        <p class="govuk-body">As the authorised signatory, you'll have legal responsibility for the account and will be asked to sign declarations.</p>

        <p class="govuk-body"> We'll ask you for:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>your date of birth</li>
            <li>your telephone number</li>
            <li>a letter of authorisation - this is a letter confirming you have the authority to open and use an account for the organisation to submit an application</li>
            <li>photo identification - like a scan of the photo page of your passport or driving licence</li>
            <li>proof of your home address - like a council tax or utility bill (dated within the last 3 months)</li>
        </ul>

        <p class="govuk-body">For information on how long we’ll keep your data, read our <a href="https://www.ofgem.gov.uk/publications/green-gas-support-scheme-privacy-notice">privacy policy. (opens in a new tab).</a></p>

        <div class="govuk-button-group">
            <a href="/responsible-person/date-of-birth" class="govuk-button">Continue</a>
        </div>
    </div>
</div>

