@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model ExternalPortal.ViewModels.ResponsiblePersonDetailViewModel
@{
    ViewData["Title"] = "Responsible Person Details";
}

@using (Html.BeginForm("SomeoneElseDetails", "ResponsiblePerson", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="govuk-width-container">
        @if (!Model.ResponsiblePersonIsYou)
        {
            await Html.RenderPartialAsync("Components/ViewBackLink");
        }
        else
        {
            await Html.RenderPartialAsync("Components/ViewBackLink");
        }

        @await Html.GovUkErrorSummary(ViewData.ModelState)

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">Register a new organisation</span>
            Responsible Person Details
        </h1>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-!-margin-bottom-9 govuk-!-margin-top-4">
                    @await Html.GovUkTextInputFor(m => m.FirstName,
                        classes: "govuk-input govuk-input--width-20",
                        labelOptions: new LabelViewModel { Text = "First Name" })

                    @await Html.GovUkTextInputFor(m => m.Surname,
                        classes: "govuk-input govuk-input--width-20",
                        labelOptions: new LabelViewModel { Text = "Surname" })

                    @await Html.GovUkTextInputFor(m => m.EmailAddress,
                        classes: "govuk-input govuk-input--width-20",
                        labelOptions: new LabelViewModel
                        {
                            Text = "Email address"
                        })

                    @await Html.GovUkTextInputFor(m => m.PhoneNumber,
                        classes: "govuk-input govuk-input--width-20",
                        labelOptions: new LabelViewModel { Text = "Phone number" })

                    @Html.HiddenFor(m => m.ResponsiblePersonIsYou)
                </div>
            </div>
        </div>

        <div class="govuk-button-group">
            @await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue"
            })
            <a href="/ResponsiblePerson/Index">Cancel</a>
        </div>
    </div>
}