
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@{
    ViewData["Title"] = "Stage One - Feedstock Supply Upload";
}
<form action="feedstock-upload" method="post" enctype="multipart/form-data" novalidate>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Upload your feedstock supply documents
                    </h1>
                </legend>

                <div id="more-detail-hint" class="govuk-hint">
                    You can upload your documents as scanned copies or photos of the originals
                </div>
            </fieldset>

            <div class="govuk-form-group">
                <label class="govuk-label" for="file">
                    Upload a file
                </label>
                <input class="govuk-file-upload" id="file" name="file" type="file">
            </div>

            <div class="govuk-button-group">
                @await Html.GovUkButton(new ButtonViewModel
           {
               Text = "Save and continue",
                    Type = "Submit"
           })
            </div>
        </div>
    </div>
</form>