@model ExternalPortal.ViewModels.InvitationsViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
    <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Email sent</h1>
    </div>
    
    <p>
        We’ve sent an email to @Model.UserEmail.
    </p>
    
    <h2 class="govuk-heading-m">What happens next</h2>
    
    <p>
        You will be able to follow the link in the email and sign into your organisation’s account.
    </p>
        <p><a href="/dashboard" class="govuk-link">Return to your dashboard</a></p>
    </div>
</div>