<div class="app-step-nav-related app-step-nav-related--singular">
    <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">How to apply to be part of</span>
        <a href="/home/steps">
            Green Gas Support Scheme
        </a>
    </h2>
</div>