@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents

@model PortalViewModel<Ofgem.API.GGSS.Domain.Models.OrganisationModel>

@{
    ViewData["Title"] = "Provide a photo ID";

    if (Model.HasErrors) 
    {
        Model.InPageLink = "#file";
        await Html.RenderPartialAsync("_ErrorPartial", Model);
    } 
    
    await Html.RenderPartialAsync("Components/ViewBackLink");

    var formError = String.IsNullOrEmpty(Model.Model.Value.Error) ? "" : "govuk-form-group--error";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="/organisation/photo-id-upload" method="post" enctype="multipart/form-data">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <div>
                        <h1 class="govuk-fieldset__heading">
                            Give us a copy of your photo ID
                        </h1>
                        <p>This could be a scan of the photo page of your passport or your driving licence.</p>
                        <p>You can only upload PDF, JPG, PNG, BMP, TIF, XLS or XLSX files. No file can be larger than 5MB.</p>
                        <div class="govuk-form-group @formError">
                            @{
                                if (!String.IsNullOrEmpty(Model.Model.Value.Error))
                                {
                                    <span id="transport-upload-error" class="govuk-error-message">
                                        @Model.Model.Value.Error
                                    </span>
                                }
                            }
                            <label class="govuk-label" for="file">
                                Upload a file
                            </label>
                            <input class="govuk-file-upload" id="file" name="file" type="file">
                        </div>
                    </div>
                    <div class="govuk-button-group">
                        @await Html.GovUkButton(new ButtonViewModel {Text = "Continue", Type = "Submit"})
                    </div>
                </legend>
                @Html.HiddenFor(m => m.ReturnUrl)
            </fieldset>
        </form>
    </div>
</div>