
@{
    ViewData["Title"] = "You do not meet the eligibility requirements for the Green Gas Support Scheme - Check eligibility - Green Gas Support Scheme";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">You do not meet the eligibility requirements to apply for financial support using this service</h1>
                    </legend>
                    <p>
                        This service is only available to biomethane producers who plan on using equipment which has never been used for the purposes of an NDRHI application, and has not been used before the launch of the GGSS.
                    </p>
                </fieldset>
            </div>
        </div>
    </div>
</div>