@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents

@model ExternalPortal.ViewModels.Tasks.AdditionalFinancialEvidenceModel

@{
    ViewData["Title"] = "Add supporting evidence Person";

    var formError = Model.HasError() ? "govuk-form-group--error" : "";

    await Html.RenderPartialAsync("Components/ViewBackLink");

    var applicationId = Context.Request.Query["ApplicationId"];
}

@using (Html.BeginForm("AddSupportingEvidence", "SupportingEvidence", new { ApplicationId = applicationId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group @formError">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Do you have any additional supporting evidence?
                        </h1>
                    </legend>

                    @{
                        if (Model.HasError())
                        {
                            <span id="transport-upload-error" class="govuk-error-message">
                                @Model.Error
                            </span>
                        }
                    }

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="supportingEvidence-yes" name="supportingEvidence" type="radio" value="Yes">
                            <label class="govuk-label govuk-radios__label" for="supportingEvidence-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="supportingEvidence-no" name="supportingEvidence" type="radio" value="No">
                            <label class="govuk-label govuk-radios__label" for="supportingEvidence-no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="govuk-button-group">
        @await Html.GovUkButton(new ButtonViewModel { Text = "Save and continue" })
    </div>

}

@{
    await Html.RenderPartialAsync("Components/ViewReturnToApplicationLink", applicationId);
}
